Repository DNNCommunity/DNNDocs, pull requests merged in 2019-07, with the labels that each got.

#326 Wikidocs/ddrmenu
  content/designers/theme-objects/ddrmenu/ddrmenu-razor-templates-overview/index.md
  content/designers/theme-objects/ddrmenu/ddrmenu-reference-guide/index.md
  content/designers/theme-objects/ddrmenu/ddrmenu-token-templates/index.md
  content/designers/theme-objects/ddrmenu/ddrmenu-xslt-templates/index.md
  content/designers/theme-objects/ddrmenu/index.md
  content/designers/theme-objects/index.md
  content/designers/toc.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#328 Resolves #327
  images/dnnconnect-2020.jpg
  images/dnnconnect-logo.png
  templates/dnn-docs/index.html.tmpl
Labels: docs-content-editing, docs-structural-review, documentation

#329 Fixed dnnconnect image ext
  templates/dnn-docs/index.html.tmpl
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#331 Updated h4 to NOTE to fix sub-menu rendering
  content/designers/theme-objects/index.md
Labels: documentation

#333 Resolves issue #332
  content/administrators/securing-your-site/content-security-policy/index.md
  content/administrators/securing-your-site/security-headers/index.md
  content/administrators/toc.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#340 Fix TOC linking to Tutorials
  content/guides/toc.md
Labels: bug

#341 Added Levels at which a theme can be set
  content/guides/tutorials/about-themes/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#351 Moved "skin objects" from the Title to a NOTE
  content/guides/tutorials/theme-objects/index.md
Labels: documentation
