Repository DNNCommunity/DNNDocs, pull requests merged in 2019-04, with the labels that each got.

#166 Add page level contributors, last edit date, time to read indicator, and GitHub authentication
  .gitignore
  docfx.json
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/DNNCommunity.DNNDocs.Plugins.GitHubStats.csproj
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/PageStatsBuildStep.cs
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/PageStatsProcessor.cs
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/RepoStatsBuildStep.cs
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/RepoStatsProcessor.cs
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/Shared/GitHub.cs
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/TopContributorsBuildStep.cs
  templates/dnn-docs/conceptual.extension.js
  templates/dnn-docs/conceptual.html.primary.js
  templates/dnn-docs/conceptual.html.primary.tmpl
  templates/dnn-docs/plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats.dll
  templates/dnn-docs/styles/docfx.css
Labels: enhancement

#168 Update timeToRead model when calculation is 1 minute
  templates/dnn-docs/conceptual.extension.js
Labels: bug

#171 Add Google Analytics support
  templates/dnn-docs/partials/analytics.tmpl.partial
  templates/dnn-docs/partials/head.tmpl.partial
Labels: enhancement

#176 Make community events logos visible on mobile Resolved #169
  templates/dnn-docs/index.html.tmpl
Labels: enhancement

#174 Restyle the footer and replace DocFx info with something meaningful to the DNN Community
  templates/dnn-docs/partials/footer.tmpl.partial
  templates/dnn-docs/styles/docfx.css
Labels: enhancement

#178 Correct truncation of In This Article links in right sidebar
  templates/dnn-docs/styles/docfx.css
Labels: bug

#181 Fixed broken XREFs and updated verbiage accordingly
  content/contribute/docs/index.md
Labels: enhancement

#180 Correct footer styling for mobile viewport
  templates/dnn-docs/styles/docfx.css
Labels: bug

#182 Updated Casing of Image Src to Fix broken image
  content/contribute/docs/markdown-guide-to-docfx/index.md
Labels: enhancement

#156 Add "Module Injection Filter" article
  content/developers/extensions/module-injection/index.md
Labels: documentation

#185 Added 2 images that were missing from the images folder thus fixing b…
  images/ico-module-advurlmgmt.png
  images/scr-module-AdvURLMgmt.png
Labels: enhancement

#190 Changed DNN Summit Info for 2020
  images/2020-dnn-summit-logo.png
  templates/dnn-docs/index.html.tmpl
Labels: docs-approved, documentation

#191 Added some content to the Admin home page
  content/administrators/index.md
Labels: docs-approved, enhancement

#192 Added content to the content manager home page
  content/content-managers/index.md
Labels: docs-approved, documentation

#194 Update order of doctypes
  content/designers/creating-themes/create-doctype-xml/index.md
Labels: docs-approved, documentation

#197 Created new folders-indexes and updated broken XREFs
  content/administrators/administrator-references/dnn-solutions/index.md
  content/administrators/assets/asset-file-versioning/index.md
  content/administrators/assets/folders/index.md
  content/administrators/assets/index.md
  content/administrators/configuring-your-site/site-aliases/index.md
  content/administrators/configuring-your-site/user-profiles/index.md
  content/administrators/fields/form-fields/index.md
  content/administrators/fields/index.md
  content/administrators/forms/index.md
  content/administrators/microservices/index.md
  content/administrators/pages-templates/index.md
  content/administrators/pages-templates/page-versioning/index.md
  content/administrators/pages-templates/pages/index.md
  content/administrators/pages-templates/templates/index.md
  content/administrators/roles/index.md
  content/administrators/roles/role-groups/index.md
  content/administrators/search/crawling-filters/index.md
  content/administrators/search/dynamic-pages/index.md
  content/administrators/search/indexes/index.md
  content/administrators/search/synonyms/index.md
  content/administrators/search/words-to-ignore/index.md
  content/administrators/servers/server-performance/index.md
  content/administrators/servers/smtp-servers/index.md
  content/administrators/sites/index.md
  content/administrators/sites/site-groups/index.md
  content/administrators/structured-content/api-keys/index.md
  content/administrators/structured-content/content-items/index.md
  content/administrators/structured-content/content-types/index.md
  content/administrators/structured-content/creating-structured-content-with-microservices/index.md
  content/administrators/structured-content/visualizers/index.md
  content/administrators/toc.md
  content/administrators/url-management/index.md
  content/administrators/url-management/seo/index.md
Labels: docs-approved, documentation

#200 Updated 1 PB image and created 6 new ones for the platform
  images/scr-pbar-all-Edit-E91-platform.png
  images/scr-pbar-all-Edit-E91.png
  images/scr-pbar-cmg-Content-E91-platform.png
  images/scr-pbar-host-Content-E91-platform.png
  images/scr-pbar-host-Manage-E91-platform.png
  images/scr-pbar-host-Settings-E91-platform.png
  images/scr-pbar-host-platform.gif
Labels: docs-approved, documentation

#201 Updated image path to reflect platform PB
  content/administrators/pages-templates/create-single-page-standard/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#203 Updated PB image from Evoq UI to Platform UI
  content/administrators/sites/create-site/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#204 Updated the PB image from the Evoq UI to Platform UI
  content/administrators/pages-templates/create-single-page-url/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#205 Updates PB image from Evoq UI to Platform UI
  content/administrators/pages-templates/create-single-page-file/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#206 Updated PB image from Evoq UI to Platform UI
  content/administrators/pages-templates/create-multiple-pages-pb-all/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#207 Updated PB image from Evoq UI to Platform UI
  content/administrators/pages-templates/configure-page-standard/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#208 Updated PB image on Configure a Navigation Link to an Existing Page
  content/administrators/pages-templates/configure-page-existing/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#209 Updated PB image to Platform UI on Configure a Navigation Link to an …
  content/administrators/pages-templates/configure-page-url/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#210 Updated PB image to Platform UI on Configure a Navigation Link to an …
  content/administrators/pages-templates/configure-page-file/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#211 Updated PB image to Platform UI in Copy a Page via the Persona Bar page
  content/administrators/pages-templates/copy-page-pb-all/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#212 Updated the PB Image to Platform UI on the Edit Page page
  content/administrators/pages-templates/edit-page-pb-all/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#213 Updated PB Image to Platform UI on View a Hidden Page via the Persona…
  content/administrators/pages-templates/view-hidden-page-pb-all/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#214 Updated PB image to Platform UI on Delete Page page
  content/administrators/pages-templates/delete-page-pb-all/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#215 Updated PB image to Platform UI on Restore Deleted Pages page
  content/administrators/recyclebin/restore-deleted-pages/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#216 Updated PD Image to Platform UI on Purge Deleted Pages page
  content/administrators/recyclebin/purge-deleted-pages/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#217 Updated PB image from Evoq UI to Platform UI on Copy Page Permissions…
  content/administrators/pages-templates/copy-permissions-to-child-pages-pb-all/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#220 Updated PB Image + Included accurate screenshot for platform template…
  content/administrators/pages-templates/edit-delete-template-pb-all/index.md
  images/platform-site-assets-templates.jpg
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#218 Updated PB image to Platform UI on Create Template Based on Page page
  content/administrators/pages-templates/create-template-based-on-page-pb-all/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#219 Updated PB image to Platform UI on Create Template Based on Another T…
  content/administrators/pages-templates/create-template-based-on-another-template-pb-all/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#221 Updated the Restore Deleted Templates Page adding in a callout ababou…
  content/administrators/recyclebin/restore-deleted-templates/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#222 Added Evoq only feature callout note on Purge Deleted Templates page
  content/administrators/recyclebin/purge-deleted-templates/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#223 Updated the file-folder structure for the pages section
  content/administrators/building-your-site/managing-pages-and-templates/index.md
  content/administrators/building-your-site/managing-pages-and-templates/page-versioning/compare-page-versions/index.md
  content/administrators/building-your-site/managing-pages-and-templates/page-versioning/delete-page-version/index.md
  content/administrators/building-your-site/managing-pages-and-templates/page-versioning/index.md
  content/administrators/building-your-site/managing-pages-and-templates/page-versioning/restore-page-version/index.md
  content/administrators/building-your-site/managing-pages-and-templates/page-versioning/view-page-versions/index.md
  content/administrators/building-your-site/managing-pages-and-templates/pages/configure-page-existing/index.md
  content/administrators/building-your-site/managing-pages-and-templates/pages/configure-page-file/index.md
  content/administrators/building-your-site/managing-pages-and-templates/pages/configure-page-standard/index.md
  content/administrators/building-your-site/managing-pages-and-templates/pages/configure-page-url/index.md
  content/administrators/building-your-site/managing-pages-and-templates/pages/copy-page-pb-all/index.md
  content/administrators/building-your-site/managing-pages-and-templates/pages/copy-permissions-to-child-pages-pb-all/index.md
  content/administrators/building-your-site/managing-pages-and-templates/pages/create-multiple-pages-pb-all/index.md
  content/administrators/building-your-site/managing-pages-and-templates/pages/create-single-page-existing/index.md
  content/administrators/building-your-site/managing-pages-and-templates/pages/create-single-page-file/index.md
  content/administrators/building-your-site/managing-pages-and-templates/pages/create-single-page-standard/index.md
  content/administrators/building-your-site/managing-pages-and-templates/pages/create-single-page-url/index.md
  content/administrators/building-your-site/managing-pages-and-templates/pages/delete-page-pb-all/index.md
  content/administrators/building-your-site/managing-pages-and-templates/pages/edit-page-pb-all/index.md
  content/administrators/building-your-site/managing-pages-and-templates/pages/index.md
  content/administrators/building-your-site/managing-pages-and-templates/pages/view-hidden-page-pb-all/index.md
  content/administrators/building-your-site/managing-pages-and-templates/templates/administrators-pages-templates-overview/index.md
  content/administrators/building-your-site/managing-pages-and-templates/templates/create-template-based-on-another-template-pb-all/index.md
  content/administrators/building-your-site/managing-pages-and-templates/templates/create-template-based-on-page-pb-all/index.md
  content/administrators/building-your-site/managing-pages-and-templates/templates/edit-delete-template-pb-all/index.md
  content/administrators/building-your-site/managing-pages-and-templates/templates/index.md
  content/administrators/building-your-site/managing-pages-and-templates/templates/managing-pages-templates/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#224 Updated PB image to Platform UI on the Update Your Site's Info page
  content/administrators/configuring-your-site/update-site-info/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#225 Updated PB image to Platform UI on Assign Key Pages page
  content/administrators/configuring-your-site/assign-key-pages/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#226 Updated PB Image to platform UI on the Add Metadata to Pages page
  content/administrators/configuring-your-site/add-metadata-to-pages/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#227 Updated PB image to platform UI on the Configure Messaging for your S…
  content/administrators/configuring-your-site/configure-messaging/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#228 Updated PB image to Platform UI on the Access web.config and other co…
  content/administrators/configuring-your-site/access-web-config/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#229 Change Improve this Doc to open in new tab
  templates/dnn-docs/partials/affix.tmpl.partial
Labels: enhancement

#230 Make page stats below title responsive
  templates/dnn-docs/conceptual.html.primary.tmpl
  templates/dnn-docs/styles/docfx.css
Labels: bug

#233 Decrease top margin for main content and right sidebar
  templates/dnn-docs/styles/docfx.css
Labels: enhancement

#234 Indicate specific editions to which each article applies
  templates/dnn-docs/common.js
  templates/dnn-docs/conceptual.html.primary.js
  templates/dnn-docs/conceptual.html.primary.tmpl
  templates/dnn-docs/styles/docfx.css
Labels: enhancement

#235 Update DNN Summit 2020 logo and dates on home page
  images/2020-dnn-summit-logo.png
  templates/dnn-docs/index.html.tmpl
Labels: documentation

#236 Replace DNN favicon with a white version to match DNNDocs logo
  templates/dnn-docs/favicon.ico
  templates/dnn-docs/favicon_color.ico
Labels: enhancement

#238 Correct top margin for home page
  templates/dnn-docs/index.html.tmpl
  templates/dnn-docs/styles/docfx.css
Labels: bug

#239 Updated Site Groups files/folders to match TOC structure
  content/administrators/sites/site-groups/add-or-remove-sites-in-group/index.md
  content/administrators/sites/site-groups/create-site-group/index.md
  content/administrators/sites/site-groups/delete-site-group/index.md
  content/administrators/sites/site-groups/edit-site-group/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#240 Update dnneditions
  content/administrators/setup/set-up-iis/index.md
Labels: documentation

#242 Update dnneeditions for Set Up the DNN Folder
  content/administrators/setup/set-up-dnn-folder/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#243 Update dnneditions for Setting Up DNN
  content/administrators/setup/set-up-dnn/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#244 Update dnneditions for Setting Up DNN
  content/administrators/setup/administrators-setup-overview/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#245 Update dnneditions for RunTheDNNInstallationWizard
  content/administrators/setup/run-installation-wizard/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#246 Update dnneditions for Install and Set Up SQL
  content/administrators/setup/set-up-sql/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#248 Update dnneditions for Upgrade Evoq
  content/administrators/setup/upgrade-evoq/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#250 Update dnneditions for DNN Evoq Licensing
  content/administrators/licensing/licensing/index.md
Labels: documentation

#249 Added release notes for v9.3.1 and link from prod vsn page
  content/administrators/product-versions/index.md
  content/administrators/release-notes/relnotes-2019-apr-03/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#254 Moves the licensing evoq files/folders to the location reflected in t…
  content/administrators/setup/licensing/activate-license-automatically/index.md
  content/administrators/setup/licensing/activate-license-manually/index.md
  content/administrators/setup/licensing/administrators-licensing-overview/index.md
  content/administrators/setup/licensing/faq-licensing/index.md
  content/administrators/setup/licensing/licensing/index.md
  content/administrators/setup/licensing/troubleshooting-licensing/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#256 Reorganized the file/folder structure in the Admin > Maintaining Your…
  content/administrators/maintaining-your-servers/restart-application/index.md
  content/administrators/maintaining-your-servers/retrieve-system-info/index.md
  content/administrators/maintaining-your-servers/server-performance/clear-cache/index.md
  content/administrators/maintaining-your-servers/server-performance/configure-caching/index.md
  content/administrators/maintaining-your-servers/server-performance/expire-cached-item-in-web-server/index.md
  content/administrators/maintaining-your-servers/server-performance/index.md
  content/administrators/maintaining-your-servers/server-performance/minify-resource-files/index.md
  content/administrators/maintaining-your-servers/smtp-servers/configure-smtp-server/index.md
  content/administrators/maintaining-your-servers/smtp-servers/index.md
  content/administrators/maintaining-your-servers/smtp-servers/test-smtp-settings/index.md
  content/administrators/maintaining-your-servers/view-server-logs/index.md
  content/administrators/maintaining-your-servers/web-servers/about-web-servers/index.md
  content/administrators/maintaining-your-servers/web-servers/administrators-servers-overview/index.md
  content/administrators/maintaining-your-servers/web-servers/assign-web-server-to-server-group/index.md
  content/administrators/maintaining-your-servers/web-servers/change-url-of-web-server/index.md
  content/administrators/maintaining-your-servers/web-servers/delete-web-server/index.md
  content/administrators/maintaining-your-servers/web-servers/enable-or-disable-web-server/index.md
  content/administrators/maintaining-your-servers/web-servers/index.md
  content/administrators/maintaining-your-servers/web-servers/replace-web-request-adapter/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#259 Updated the Managing Sites section to have content reflec the structu…
  content/administrators/managing-sites/import-export/about-import-export/index.md
  content/administrators/managing-sites/import-export/administrators-import-export-overview/index.md
  content/administrators/managing-sites/import-export/export-site/index.md
  content/administrators/managing-sites/import-export/import-site/index.md
  content/administrators/managing-sites/import-export/transfer-an-export-package/index.md
  content/administrators/managing-sites/index.md
  content/administrators/managing-sites/site-groups/add-or-remove-sites-in-group/index.md
  content/administrators/managing-sites/site-groups/create-site-group/index.md
  content/administrators/managing-sites/site-groups/delete-site-group/index.md
  content/administrators/managing-sites/site-groups/edit-site-group/index.md
  content/administrators/managing-sites/site-groups/index.md
  content/administrators/managing-sites/sites/administrators-sites-overview/index.md
  content/administrators/managing-sites/sites/create-site/index.md
  content/administrators/managing-sites/sites/delete-site/index.md
  content/administrators/managing-sites/sites/edit-site-properties/index.md
  content/administrators/managing-sites/sites/index.md
  content/administrators/managing-sites/sites/move-site-to-another-server/index.md
  content/administrators/managing-sites/sites/view-site/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#261 Added two more development template options
  content/developers/extensions/developers-extensions-overview/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#262 Updated the Securing Your Site section file/folder structure to match…
  content/administrators/securing-your-site/index.md
  content/administrators/securing-your-site/jwt/about-jwt/index.md
  content/administrators/securing-your-site/jwt/administrators-jwt-overview/index.md
  content/administrators/securing-your-site/jwt/jwt-access-token/index.md
  content/administrators/securing-your-site/jwt/jwt-auth-handler/index.md
  content/administrators/securing-your-site/jwt/jwt-page-request/index.md
  content/administrators/securing-your-site/jwt/jwt-server-response/index.md
  content/administrators/securing-your-site/jwt/jwt-user-credentials/index.md
  content/administrators/securing-your-site/jwt/setup-jwt-for-auth/index.md
  content/administrators/securing-your-site/role-based-access/index.md
  content/administrators/securing-your-site/role-based-access/role-groups/add-role-to-existing-group/index.md
  content/administrators/securing-your-site/role-based-access/role-groups/add-role-to-new-group/index.md
  content/administrators/securing-your-site/role-based-access/role-groups/delete-custom-role-group/index.md
  content/administrators/securing-your-site/role-based-access/role-groups/edit-custom-role-group/index.md
  content/administrators/securing-your-site/role-based-access/role-groups/index.md
  content/administrators/securing-your-site/role-based-access/role-groups/remove-role-from-group/index.md
  content/administrators/securing-your-site/role-based-access/role-groups/view-roles-included-in-group/index.md
  content/administrators/securing-your-site/role-based-access/roles/assign-users-to-role/index.md
  content/administrators/securing-your-site/role-based-access/roles/create-role/index.md
  content/administrators/securing-your-site/role-based-access/roles/delete-role/index.md
  content/administrators/securing-your-site/role-based-access/roles/edit-date-range-for-role-membership/index.md
  content/administrators/securing-your-site/role-based-access/roles/edit-role/index.md
  content/administrators/securing-your-site/role-based-access/roles/index.md
  content/administrators/securing-your-site/role-based-access/roles/remove-users-from-role/index.md
  content/administrators/securing-your-site/role-based-access/roles/roles-overview/index.md
  content/administrators/securing-your-site/role-based-access/roles/view-users-assigned-to-role/index.md
  content/administrators/securing-your-site/user-accounts/about-user-accounts/index.md
  content/administrators/securing-your-site/user-accounts/administrators-user-accounts-overview/index.md
  content/administrators/securing-your-site/user-accounts/assign-user-to-multiple-roles/index.md
  content/administrators/securing-your-site/user-accounts/authorize-host/index.md
  content/administrators/securing-your-site/user-accounts/authorize-user/index.md
  content/administrators/securing-your-site/user-accounts/create-host-account/index.md
  content/administrators/securing-your-site/user-accounts/create-user-account/index.md
  content/administrators/securing-your-site/user-accounts/delete-all-unauthorized-hosts/index.md
  content/administrators/securing-your-site/user-accounts/delete-all-unauthorized-users/index.md
  content/administrators/securing-your-site/user-accounts/delete-host/index.md
  content/administrators/securing-your-site/user-accounts/delete-user/index.md
  content/administrators/securing-your-site/user-accounts/demote-from-host/index.md
  content/administrators/securing-your-site/user-accounts/edit-user/index.md
  content/administrators/securing-your-site/user-accounts/manage-host-password/index.md
  content/administrators/securing-your-site/user-accounts/manage-user-password/index.md
  content/administrators/securing-your-site/user-accounts/promote-user-to-host/index.md
  content/administrators/securing-your-site/user-accounts/purge-host-account/index.md
  content/administrators/securing-your-site/user-accounts/purge-user-account/index.md
  content/administrators/securing-your-site/user-accounts/remove-user-from-multiple-roles/index.md
  content/administrators/securing-your-site/user-accounts/restore-deleted-host-account/index.md
  content/administrators/securing-your-site/user-accounts/restore-deleted-user-account/index.md
  content/administrators/security/security/index.md
Labels: documentation

#267 Moved remaining recycle bin items to appropriate locations
  content/administrators/building-your-site/creating-content-with-modules/purge-deleted-modules/index.md
  content/administrators/building-your-site/creating-content-with-modules/restore-deleted-modules/index.md
  content/administrators/building-your-site/managing-pages-and-templates/pages/purge-deleted-pages/index.md
  content/administrators/building-your-site/managing-pages-and-templates/pages/restore-deleted-pages/index.md
  content/administrators/building-your-site/managing-pages-and-templates/templates/purge-deleted-templates/index.md
  content/administrators/building-your-site/managing-pages-and-templates/templates/restore-deleted-templates/index.md
  content/administrators/securing-your-site/user-accounts/purge-multiple-deleted-users/index.md
  content/administrators/securing-your-site/user-accounts/restore-multiple-deleted-users/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#266 Move Improve This Doc to right side of breadcrumb bar and utilize icon
  templates/dnn-docs/partials/affix.tmpl.partial
  templates/dnn-docs/partials/breadcrumb.tmpl.partial
Labels: enhancement

#268 Add Feedback Feature
  templates/dnn-docs/common.js
  templates/dnn-docs/conceptual.html.primary.js
  templates/dnn-docs/partials/breadcrumb.tmpl.partial
  templates/dnn-docs/token.json
Labels: enhancement

#270 Improve mobile view for page date, time to read, contributors
  templates/dnn-docs/conceptual.html.primary.tmpl
Labels: enhancement

#277 Add Recent Contributors to DNN Docs home page
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/DNNCommunity.DNNDocs.Plugins.GitHubStats.csproj
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/Models/Author.cs
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/Models/Commit.cs
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/Models/CommitAuthor.cs
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/Models/Commits.cs
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/Models/Contributor.cs
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/Models/GitHub.cs
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/PageStatsBuildStep.cs
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/PageStatsProcessor.cs
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/Providers/GitHubApi.cs
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/RepoStatsBuildStep.cs
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/RepoStatsProcessor.cs
  plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats/Shared/GitHub.cs
  templates/dnn-docs/index.html.tmpl
  templates/dnn-docs/partials/recentContributors.tmpl.partial
  templates/dnn-docs/partials/topContributors.tmpl.partial
  templates/dnn-docs/plugins/DNNCommunity.DNNDocs.Plugins.GitHubStats.dll
  templates/dnn-docs/styles/docfx.css
Labels: enhancement

#280 Issue 279
  templates/dnn-docs/common.js
  templates/dnn-docs/conceptual.html.primary.js
  templates/dnn-docs/partials/breadcrumb.tmpl.partial
  templates/dnn-docs/partials/head.tmpl.partial
Labels: enhancement

#281 Updated the markdown formatting
  content/administrators/release-notes/relnotes-2017-apr-26-extensions/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#284 Updated broken XREF links in Admin TOC
  content/administrators/toc.md
Labels: documentation

#285 Updated 3 PB images to Platform version
  content/administrators/managing-sites/sites/delete-site/index.md
  content/administrators/managing-sites/sites/edit-site-properties/index.md
  content/administrators/managing-sites/sites/view-site/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation

#275 Additional context added
  content/developers/extensions/developers-extensions-overview/index.md
Labels: docs-structural-review, documentation

#289 Added starter content on Designer/Developer landing pages
  content/designers/index.md
  content/developers/index.md
Labels: docs-approved, docs-content-editing, docs-structural-review, documentation
